// you can change colors here
$theme-color: #096dd9;

$font-family: '"LXGW WenKai Screen", sans-serif';
$font-family-code: '"LXGW WenKai Mono Lite", "LXGW WenKai Screen", monospace';
$font-family-fancy: '"LXGW WenKai Screen", Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", SimSun, serif';
